*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.first {
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url('/gifs/burger.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    color: #000000;
    padding: 0 8%;
}

.secound {
  min-height: 100vh;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  color: #000000;
  padding: 0 8%;
}

.first h1 {
    font-size: 75px;
    margin-top: 12%;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.logo {
  width: 160px;
}

.slider {
  position: relative;
  max-width: 50rem;
  margin: auto;
  overflow: hidden;
  margin-top: -15%;
}

.ins {
  margin-left: 30%;
  margin-bottom: 5%;
}

.ins1 {
  margin-left: 80%;
  margin-bottom: 1%;
}

.ins2 {
  margin-left: 80%;
}

.slides{
  display: flex;
  width: 100%;
}

.slide{
  display: flex; /* Aligns text and image side by side */
  flex-shrink: 0;
  width: 100%; /* Ensure each slide occupies full width */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Space between text and image */
}

.text {
  flex: 1; /* The text will take up equal space with the image */
  padding: 20px;
  max-width: 40%; /* Adjust width as needed */
}

.text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.text p {
  font-size: 1rem;
  line-height: 1.5;
}

.slider img {
  max-width: 36rem;
  width: 100%;
}

.slider .slide {
  display: none;
}

.slider .slide.displaySlide {
  display: flex; /* Show the slide when the class is added */
  animation-name: fade;
  animation-duration: 0.5s;
}

/*img.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: .5s;
}*/

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.prev {
  left: 14rem;
}

.next {
  right: 0;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}