*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.first {
    min-height: 100vh;
    background-color: #000000;
    background-image: url('/bilder/jump.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    color: #ffffff;
    padding: 0 8%;
}

.first h1 {
    font-size: 75px;
    margin-top: 12%;
}

.first button {
    background: #393939;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: #ffffff;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

header {
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

